doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="assets/css/reset.css")
        link(rel="stylesheet", href="assets/css/style.css")

        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap")

        title Document
    body
        div.container
            header.header РУС · 
                a(href="/en") EN
            
            h1 Я Магомед — дизайнер из Москвы и мне 24 года
            p Верстаю, пишу и дизайну плакаты, афиши, брошюры, сайты, иконки, логотипы и так далее
                span.ghostText · добавлю портфолио, но не сейчас
            p Люблю учиться, чтобы быть полезным. Недавно  участвовал в практическом курсе «
            a(href="https://bureau.ru/courses/icons-online/") Пиктограммы и системы знаков
            »
            Сергея Чикина и получил <a href="https://bureau.ru/courses/certificate/36e8d9cccdb1a34ce9f06d447fb8b3371472596/">сертификат</a></p>

            <p>Люблю создавать приколюхи в свободное время. Например, у меня есть белая и черная доски для публичных выступлений. Она сделана на HTML/CSS</p>
    <p class="contact">Хотите поработать со мной? Пишите <a href="mailto:me@sekkeio.ru">на почту</a> или <a href="https://t.me/m/gmvST-2tMDI6">в Телеграм</a> fsdfsdfsdfsdfsdfsdfsdfsdfsdfsd</p>


    