:root {
  --textColorRGB: 40, 40, 40;
  --textColor: rgb(40, 40, 40);
  --backgroundColorRGB: 247, 247, 247;
  --backgroundColor: rgb(247, 247, 247);
  --linkColorRGB: 54, 124, 247;
  --keyColorRGB: 0, 165, 184;
  --keyColor: rgb(0, 165, 184);

  font: 16px/1.2 "IBM Plex Sans", sans-serif;
  font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  :root {
    --textColorRGB: 221, 221, 204;
    --textColor: rgb(221, 221, 204);
    --backgroundColorRGB: 22, 21, 21;
    --backgroundColor: rgb(22, 21, 21);
    --linkColorRGB: 10, 132, 255;
    --keyColorRGB: 0, 197, 219;
    --keyColor: rgb(0, 197, 219);
  }
}

body {
  color: var(--textColor);
  background-color: var(--backgroundColor);
}

.layoutContainer {
  margin: 0 auto;
  color: rgb(var(--textColorRGB));
  max-width: 1024px;
  padding: 0 6%;

  @media screen and (max-width: 768px) {
    padding: 0 1rem;
  }
}


h1 {
  font-size: 2.2565rem;
  line-height: 1.1;
  margin-bottom: 2rem;
  hyphens: auto;
  text-wrap: pretty;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  margin-right: 10%;

  @media screen and (max-width: 768px) {
    margin-right: 0;
}
}

a,
a u {
  color: rgb(var(--linkColorRGB));
  text-decoration: underline;
  text-decoration-color: rgb(var(--linkColorRGB), .3);
  text-decoration-thickness: 1px;
  text-underline-offset: .25rem;
  text-decoration-skip: none;
  text-decoration-skip-ink: none;
  transition: color .5s;
}

a:hover,
a:hover u {
  color: rgb(var(--keyColorRGB));
  text-decoration-color: currentColor;
}


a:has(u) {
  text-decoration: none;
}


a:hover img {
  border: 1px rgb(var(--keyColorRGB)) solid;
}

.header {
  margin: 1em 1em 2em;
  text-align: right;
}

footer {
  font-weight: 300;
  font-style: italic;
  font-size: .95em;
}

.caption {
  display: block;
  color: rgb(var(--textColorRGB), .3);
  font-size: 1rem;
}


.ghostText {
  color: rgba(var(--textColorRGB), .3);
}

.container {
  padding: 1.5rem clamp(1.43rem, 2.5vw, 2.84rem) 3rem;
}

.s, s {
  text-decoration: underline;
  text-underline-offset: -.25em;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-decoration-color: rgb(255, 0, 0);
  color: rgb(var(--textColorRGB), .2);
}


.note::after {
  content: "***";
  display: block;
  text-align: center;
  letter-spacing: 20px;
  color: rgb(var(--keyColorRGB), .5);
  margin: .25rem 0 -.25rem;
}

.education {
  display: flex;
  flex-flow: column;
  gap: .75em;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: rgb(var(--keyColorRGB), .05);
  padding: .5em .75em 2rem;
}

.education p {
  margin: 0;
}

/* works */

.works-grid {
  display: grid; 
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto; 
  gap: 1.5rem 1rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.works-item {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-column: span 2;

  @media screen and (max-width: 768px) {
    grid-column: span 2;
  }
}

.works-item_name {
  color: var(--textColor);
}

.works-item img {
  border: 1px transparent solid;
  box-shadow: 0 12px 18px rgb(var(--textColorRGB), .15);
  transition: box-shadow 1s ease;

  @media (prefers-color-scheme: dark) {
    border: 1px rgb(var(--textColorRGB), .1) solid;
    box-shadow: none;
  }
}

.works-item:hover img {
  transition: box-shadow 0s ease;
  box-shadow: none;
}

.large { 
  grid-column: span 3;

  @media screen and (max-width: 768px) {
    grid-column: span 2;
  }
}

.XL {
  grid-column: span 5;

  @media screen and (max-width: 768px) {
    grid-column: span 2;
  }
}

.browser_top {
  display: block;
  background-color: rgb(var(--backgroundColorRGB), .5) ;
  padding: 0 .25em;
  text-decoration: none;
  color: var(--textColor);
}

.browser-container {
  display: flex;
  background-color: rgb(var(--textColorRGB), .2);
  align-items: center;
  padding: .5em;
  justify-content: center
}