:root {
  --textColor: #282828;
  --textColorRGB: 40, 40, 40;
  --backgroundColor: rgba(247, 247, 247,.8);
  --keyColorRGB: 54, 124, 247;
  --keyColor: rgb(54, 124, 247);
  --smile: rgb(0, 165, 184);
  --linkUnderlineColor: color-mix(in srgb, var(--keyColor) 50%);

  font: 20px/1.1 "IBM Plex Serif", serif;
}

body {
  color: var(--textColor);
  background-color: var(--backgroundColor);
}

header {
  margin-bottom: 1em;
  text-align: right;
}

footer {
  font-weight: 300;
  font-style: italic;
  font-size: .95em;
}

p {
  font-size: 2em;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 1em;
}


a {
  color: rgb(var(--keyColorRGB));
  text-decoration-color: rgba(var(--keyColorRGB), .8);
  text-decoration: underline;
  text-decoration-thickness: .01em;
  text-underline-offset: .2em;
  text-decoration-skip: none;
  text-decoration-skip-ink: none;
}

a:hover {
  color: var(--smile);
  text-decoration-thickness: .03em;
  text-decoration-color: currentColor;
} 

h1 {
  font-size: 3em;
  font-weight: 200;
  font-style: italic;
  margin-bottom: .5em;
}

h1::before, p::before, footer::before {
  color: var(--textColor);
  font-size: 1em;
  margin-right: .18em;
  transition: opacity 0.3s;
}

h1:hover:before, p:hover:before, footer:hover:before {
  opacity: 1;
  color: var(--smile);
}

h1::before {
  content: "h1 ·";
}

p::before {
  content: "p ·";
}

footer::before {
  content:"c ·";
}


.in-head-ghost {
  color: rgba(var(--textColorRGB), .3);
}

.container {
  padding: 1.5rem clamp(1.43rem, 2.5vw, 2.84rem) 3rem;
}


@media (width <= 576px) {
  :root {
    font-size: 14px;
  }

  h1, p {
    font-weight: 300;
  }
  h1::before, p::before, footer::before {
    display: block;
    color: var(--smile);
    font-size: .9em;
    margin-left: -.4em;
    margin-bottom: .2rem;
  }

  h1::before {
    content: "<h1>";
  }
  
  p::before {
    content: "<p>";
  }

  footer::before {
    content:"<footer>";
  }

}